.idea
.ipynb_checkpoints
.pytest_cache
.DS_Store
.env
.git
.gitignore
.gitattributes
.dockerignore
*.pyc

LICENSE
Makefile
README.md
tox.ini
Dockerfile

data
docs
notebooks
references
reports
db
logs
**/__pycache__